extends /template/template.pug
    
block meta
    meta(name='robots' content='noindex,nofollow')

block imports
    - current_path = PATH_SITEMAP

block content
    // Content
    .wrapper
        .text
            h1 Datenschutz
            h3 Datenschutzbestimmungen
            p 
                | Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und
                | halten uns strikt an die Regeln der Datenschutzgesetze. 
                | Personenbezogene Daten werden auf dieser Webseite nur im technisch
                | notwendigen Umfang erhoben. In keinem Fall werden die erhobenen 
                | Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.
                | Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber,
                | wie wir diesen Schutz gewährleisten und welche Art von Daten
                | zu welchem Zweck erhoben werden.
            
            h3 Datenverarbeitung auf dieser Internetseite
            p 
                | In den Server Log Files werden folgende Informationen, die Ihr
                | Browser an uns übermittelt gespeichert:
            br
            ul
                li 
                    p Browsertyp/ -version
                li
                    p verwendetes Betriebssystem Referrer URL (die zuvor besuchte Seite)
                li
                    p Hostname des zugreifenden Rechners (IP Adresse)
                li
                    p Uhrzeit der Serveranfrage
            p 
                | Diese Daten sind für uns in der Regel nicht bestimmten Personen
                | zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen
                | wird nicht vorgenommen, die Daten werden zudem nach einer statistischen
                | Auswertung gelöscht.
