extends /template/template.pug
    
block meta
    meta(name='robots' content='noindex,nofollow')

block imports
    - current_path = PATH_IMPRESSUM

block content
    // Content
    .wrapper
        .text
            h1 Impressum
            h2 Angaben gemäß § 5 TMG
            h3 Oswald Matt Group
            p
                | Oswald Matt </br>
                | Verkauf und Vermietung mobiler Raumsysteme </br>
                | Gewerbegebiet Tiefenhäusern 7 </br>
                | 79862 Höchenschwand
            h3 Kontakt
            p
                | Telefon: 
                a.tel(href='tel:490775591006') +49 (0) 77 55 - 91 00 6 </br>
                | Telefax: +49 (0) 77 55 - 91 00 8 </br>
                | E-Mail: 
                a(href='mailto:info@oswaldmattgroup.com') info@oswaldmattgroup.com
            h3 Umsatzsteuer-ID
            p
                | Umsatzsteuer-Identifikationsnummer gemäß §27 a
                | Umsatzsteuergesetz: DE158166830
            h3  Urheberrechtshinweise
            p
                | Die Inhalte und Programme dieser Website sind urheberrechtlich
                | geschützt. Alle Rechte daran behalten wir uns vor. Teile dieser
                | Website können Bilder, Texte oder Sounds beinhalten, die dem
                | Urheberrecht Dritter unterliegen. Die Urheberrechtshinweise in
                | diesen Fällen sind an entsprechenden Stellen vermerkt. 
                | Informationen auf dieser Website, einschließlich Texten,
                | Bildern und Sound, dürfen nicht, sofern nicht ausdrücklich
                | anders bestimmt, vervielfältigt, transferiert, vertrieben oder
                | gespeichert werden ohne schriftliche Genehmigung des Herausgebers.
                | Die gilt in gleicher Weise für alle von uns erstellten Vorlagen.
                | Modifikationen des Inhalts dieser Website und aller darin
                | enthaltenen Vorlagen sind ausdrücklich untersagt. Mit dem
                | Download der von uns für Privatpersonen kostenlos angebotenen
                | Vorlagen erklärt sich der Nutzer mit den in den Seiten
                | enthaltenen Bedingungen einverstanden. Verstöße gegen diese
                | Bestimmungen werden von uns strafrechtlich verfolgt.
            h3 Hinweise zu externen Links
            p
                | Mit Urteil vom 12. Mai 1998 - 312 O 85/98 - "Haftung für Links"
                | hat das Landgericht (LG) Hamburg entschieden, dass man durch
                | die Anbringung eines Links, die Inhalte der gelinkten Seite ggf.
                | mit zu verantworten hat. Dies kann - so das LG - nur dadurch
                | verhindert werden, dass man sich ausdrücklich von diesen Inhalten
                | distanziert. Hiermit distanzieren wir uns ausdrücklich von allen
                | Inhalten aller gelinkten Seiten auf unserer Homepage und machen
                | uns diese Inhalte nicht zu eigen. Diese Erklärung gilt für alle
                | in diesem Projekt (auf dieser Website) angebrachten Links.
            h3 Haftungsausschluss
            p
                | Die Informationen auf dieser Website verstehen sich als 
                | "Aussagen an sich" ohne implizite Garantien jedweder Art. Die
                | bereitgestellten Informationen auf dieser Website wurden 
                | sorgfältig geprüft und werden regelmäßig aktualisiert. Jedoch 
                | kann keine Garantie dafür übernommen werden, dass alle Angaben 
                | zu jeder Zeit vollständig, richtig und in letzter Aktualität 
                | dargestellt sind. Dies gilt insbesondere für alle Verbindungen
                | ("Links") zu anderen Web Sites, auf die direkt oder indirekt 
                | verwiesen wird. Alle Angaben können ohne vorherige Ankündigung 
                | ergänzt, entfernt oder geändert werden. Außerdem liegt es nicht 
                | in unserer Verantwortung, Vorsichtsmaßnahmen zu ergreifen gegen 
                | destruktive Programme oder Programmteile wie Viren, Worms,
                | Trojanische Pferde o. ä., die auf Webservern liegen, die 
                | möglicherweise durch Links von unserer Website aus erreicht
                |werden.
            h3 Sicherheitshinweis für das Versenden von E-Mails
            p
                | Es sollten in Anbetracht der bekannten Risiken keine sensiblen
                | Informationen per E-Mail versandt werden.
            h3 Konzeption, Design & Programmierung
            p
                | iL/ Grafik & Webdesign
            h3 Bildnachweise
            p
                | Happy couple moving house (Bildausschnitt) von Nyul |
                | Adobe Stock
