// Footer
section#main_footer
    .wrapper
        section#top
            p
                a(href='#start' title='zum Anfang der makespace Seite') NACH OBEN
        .col_1_3
          h4 BÜROZEITEN
          p
            | Montag bis Donnerstag</br>
            | 7.30 bis 12.00 Uhr</br>
            | 13.00 bis 17.00 Uhr</br>
            | Freitag</br>
            | 7.30 bis 13.00 Uhr
        .col_1_3
          h4 KONTAKT
          p
            | Tel: 
            a(href='tel:490775591006') +49 (0) 77 55 91 00 6
            br
            | Fax:
            a(href='fax:490775591008') +49 (0) 77 55-91 00 8
            br
            | E-Mail: 
            a(href='mailto:info@oswaldmattgroup.com') info@oswaldmattgroup.com
        .col_1_3
          h4 HIER FINDEN SIE UNS
          p
            | Oswald Matt Group</br>
            | Gewerbegebiet Tiefenhäusern 7</br>
            | 79862 Höchenschwand
        hr
        .col_1_3
          h4 HILFE
          p
            //a(href='#') FAQ's
            //br
            a(href=PATH_SITEMAP title='zur Sitemap') Übersicht der Seitenstruktur
            br
            a(href='assets/makespace_preisliste.pdf' target='_blank' title='zur mobile selfstorage Preisliste') komplette Preisliste
        //.col_1_3
          h4 WEBLINKS
          p
            | storagebook.de
            br
            | gelbeseiten.de
            br
            | yelp.de
        .col_1_3
          h4 MEHR VON OSWALD MATT GROUP
          p
            a(href='https://oswaldmattgroup.com' target='_blank' title='zu oswaldmattgroup.com' rel='nofollow') oswaldmattgroup.com
            br
            a(href='https://container-lion.com' target='_blank' title='zu container-lion.com' rel='nofollow') container-lion.com
            br
            a(href='https://spacemo.com' target='_blank' title='zu spacemo.com' rel='nofollow') spacemo.com
section#sub_footer
  .wrapper
    .col_1_2
      p Copyright © Oswald Matt Group
    .col_1_2
      ul#impressum
        li
          a(href=PATH_IMPRESSUM title='zum Impressum') IMPRESSUM
        li
          a(href=PATH_DATENSCHUTZ title='zu den Datenschutzhinweisen') DATENSCHUTZ
        li
          a(href=PATH_SITEMAP title='Sitemap der  makespace Webseite') SITEMAP
