extends ../../template/template.pug
    
block meta
    meta(name='robots' content='noindex,nofollow')

block imports
    - current_path = PATH_SITEMAP

block content
    // Content
    .wrapper
        .text
            h1 Sitemap
            h2 Hier eine Übersicht der Seitenstruktur von makespace.de
            h3
                a(href=PATH_HOME target='_blank' title='zur Startseite') HOME
            p Startseite - Gesamtüberblick über das MOBILE SELFSTORAGE Konzept
            h3
                a(href=PATH_FEATURES target='_blank' title='zu den Features') FEATURES
            p erste Unterseite - Alle Features bzw. unseren Service auf einen Blick
            h3
                a(href=PATH_PREISE target='_blank' title='zu den Preisen') PREISE
            p zweite Unterseite - Übersicht der Preise inkl. Preisliste zum herunterladen
            h3
                a(href=PATH_KONTAKT target='_blank' title='zur Kontaktseite') KONTAKT
            p dritte Unterseite - Map mit genauem Standort und einem Kontaktformular
