- const PATH_HOME = 'home'
- const PATH_FEATURES = 'features'
- const PATH_PREISE = 'preise'
- const PATH_KONTAKT = 'kontakt'
- const PATH_IMPRESSUM = 'impressum'
- const PATH_AGB = 'agb'
- const PATH_DATENSCHUTZ = 'datenschutz'
- const PATH_SITEMAP = 'sitemap'
- const ROOT = ''
