##  
# Redirect http to https
##
<IfModule mod_rewrite.c>
    # This will enable the Rewrite capabilities
   RewriteEngine On

    # This checks to make sure the connection is not already HTTPS
    RewriteCond %{HTTPS} !=on
    # For development environments we want to not redirect on localhost
    RewriteCond %{HTTP_HOST} !localhost

    # Just rewrite everything to https
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</IfModule>

##
# Configure caching behaviour
##
<IfModule mod_headers.c>
    Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
    Header set Pragma "no-cache"
</IfModule>

##
# Add security headers
##
<IfModule mod_headers.c>
  Header unset X-Powered-By
  # HTTP Strict Transport Security (HSTS) aktivieren
  Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  # Avoid Clickjacking, Seite darf nur in frame oder iframe geöffnet werden auf eigener Domain
  Header append X-Frame-Options "SAMEORIGIN"
  # Turn on XSS prevention tools, activated by default in IE and Chrome
  Header set X-XSS-Protection "1; mode=block"
  # prevent mime based attacks like drive-by download attacks, IE and Chrome
  Header set X-Content-Type-Options "nosniff"
  Header set Content-Security-Policy "default-src 'none'; font-src 'self' https://fonts.gstatic.com; script-src 'self' https://code.jquery.com https://maps.googleapis.com http://maps.google.com https://www.google-analytics.com 'unsafe-inline' 'unsafe-eval'; connect-src 'self'; img-src 'self' data: https://csi.gstatic.com https://maps.googleapis.com https://maps.gstatic.com https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; object-src 'self'; frame-src 'self' https://www.google.com/"
</IfModule>

##
# Activate gzip compression
##
# Deflate Compression by FileType
<IfModule mod_deflate.c>
  <FilesMatch "\.(js|jpg|jpeg|gif|png|css|svg|php|html)$">
    <IfModule mod_expires.c>
      ExpiresActive on
      ExpiresDefault "access plus 1 month"
    </IfModule>
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

##
# Prevent access to template/lib/php files
##
<FilesMatch "^(settings|kontakt_formular)">
  <IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
  </IfModule>
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
</FilesMatch>

##
# All the magic for loading our static site generator files correctly
##
<IfModule mod_rewrite.c>
    DirectorySlash Off
    RewriteEngine On
    RewriteBase /
    
    # Redirect /<FOO>/ to /<FOO>
    RewriteRule ^(.*)/$ $1 [L,R]
    
    # Redirect /home to /
    RewriteRule ^home$ / [R=301,L]
    
    # Redirect any .html|.php|.htm to resource without file extension
    # Example: /impressum.html > /impressum
    RewriteCond %{THE_REQUEST} \ /(.+)\.(php|html|htm)
    RewriteRule ^ /%1 [L,R=301]

    # Passthrough any request to /<REDIRECTBASE>/ to /<REDIRECTBASE>/home/index.php
    RewriteRule ^$ %{SCRIPT_FILENAME}home/index.php [L,PT]
    
    # Passthrough any request to /<REDIRECTBASE>/<FOO> to /<REDIRECTBASE>/<FOO>/index.php
    RewriteCond %{SCRIPT_FILENAME} !home$
    RewriteCond %{SCRIPT_FILENAME}/index.php -f
    RewriteRule ^ %{SCRIPT_FILENAME}/index.php [L,PT]
</IfModule>

ErrorDocument 500 "Sorry, our script crashed. Oh dear"
ErrorDocument 404 "404"
ErrorDocument 401 "401"
