extends /template/template.pug
    
block imports
    - current_path = PATH_FEATURES
    style
        include:sass features.sass
block content
    // Teaser
    section.teaser.header_features
        .text-teaser
            h1 FEATURES RUND UM DIE LAGERBOX
            p Vom Fahrrad bis hin zur Luxuskarosse

    // Content
    section#features
        .wrapper
            section.text-centered
                h2 Hier eine Übersicht der Features rund um die </br> makespace Lagerbox

                +feature-box('Lagerbox', 'assets/icons/images/icon-1.min.svg')
                    | Unsere Lagerbox gibt es in <strong>5 verschiedenen Größen</strong>,
                    | je nachdem wieviel Raum Sie benötigen. Auf Wunsch auch mit Regalsystem.
                    | Als Basis dient ein Lagercontainer 
                    | (<strong><a href='https://de.wikipedia.org/wiki/ISO-Container' target='_blank' title='ISO Container Wikipedia'>ISO Norm</a></strong>),
                    | der durch seine stabile Stahlkonstruktion und das einfache
                    | Beladen dank Flügeltür überzeugt 
                    | - <strong>Trockenheitsgarantie</strong> inklusive!

                +feature-box('Transport', 'assets/icons/images/icon-2.min.svg')
                    | Wir liefern Ihre Lagerbox <strong>bis vor die Haustüre</strong>
                    | , oder wohin Sie auch wünschen. Anschließend können Sie in aller
                    |  Ruhe die Lagerbox befüllen. Die <strong>Abholung erfolgt nach Terminvereinbarung</strong>
                    | durch unser Fachpersonal. Einem professionellem und zuverlässigem
                    | Transport steht dann nichts mehr im Wege!

                +feature-box('Einlagerung', 'assets/icons/images/icon-4.min.svg')
                    | Die Einlagerung erfolgt nach Ihrem Wunsch entweder in unserem
                    | <strong>überwachten Außenlager</strong> oder in unserer neu
                    | erbauten <strong>MAKESPACE Megabox</strong>, einer <strong>beheizten</strong>
                    | Lagerhalle mit 7000 m³ Raumvolumen und <strong>14t Krananlage</strong>.
                    | Haben Sie bereits einen geeigneten Stellplatz, so können wir die Lagerbox
                    | auch dort stationieren.

                +feature-box('Sicherheit', 'assets/icons/images/icon-3.min.svg')
                    | Nachdem Sie die Lagerbox <strong>verschlossen und versiegelt</strong>
                    | haben sorgen wir für eine sichere Verwahrung Ihres Hab und Gut's!
                    | Unser Außenlager ist ein abgesperrtes und 
                    | <strong>überwachtes Areal</strong> während die MAKESPACE-MEGABOX
                    | sogar eine <strong>Videoüberwachung</strong> mit modernster Technik
                    |aufweist. Rundum sicher! <br> &nbsp

                +feature-box('Support', 'assets/icons/images/icon-5.min.svg')
                    | Wir legen großen Wert auf <strong>kompetente Beratung</strong>!
                    | Unser Support-Team ist während der Bürozeiten 
                    | <strong>telefonisch und per Mail</strong> für Sie erreichbar.
                    | Bei Fragen und Unklarheiten helfen wir Ihnen jederzeit weiter
                    | und auch <strong>individuelle Anliegen</strong> und Wünsche
                    | Ihrerseits ziehen wir gerne in Betracht.


mixin feature-box(title, imgSrc, imgAlt)
    .col_1_2
        .features
            .icon2
                img(src=imgSrc, alt='Icon ' + title)
            h3= title
            if block
                p
                    block
