mixin slider(id)
    - let images = []
    mixin slider_image(url)
        - images.push({image: url})

    if !block
        - throw new Error('You need to define your slider_images a block for a slider')
    
    block
    if images.length == 0
        - throw new Error('Slider images are empty. Did you use the slider_images method in this slider block?')

    .slider(id=id)
        script!= 'slider_images[\'' + id + '\'] = ' + JSON.stringify(images)
        .image
            .control_button.left
            img(class='current_picture' src=images[0].image)
            .control_button.right
        .dots
            each image, index in images
                if index == 0
                    .dot.active
                else
                    .dot
