header#start
    .wrapper
        section#logo
            a(href=PATH_HOME)
                img(src='assets/template/images/makespace_logo.min.svg', alt='Logo makespace' title='zur makespace Startseite')

        include /components/menu/menu.pug
        +menu
            +menu_entry("Home", PATH_HOME)
            +menu_entry("Features", PATH_FEATURES)
            +menu_entry("Preise", PATH_PREISE)
            +menu_entry("Kontakt", PATH_KONTAKT)
